configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.esei.uvigo.es/dai/proyecto"
	xmlns:tns="http://www.esei.uvigo.es/dai/proyecto"
	elementFormDefault="qualified">
    <element name="configuration">
        <complexType>
            <element name="connections">
            </element>
            <element name="database">
            </element>
            <element name="servers">
            </element>
        </complexType>
    </element>
</schema>